
# 3 api key diverse di account diversi
GEMINI_API_KEY_1=metti-api-key-qui-e-rimuovi-".example"_da_nome_del_file
GEMINI_API_KEY_2=metti-api-key-qui-e-rimuovi-".example"_da_nome_del_file
GEMINI_API_KEY_3=metti-api-key-qui-e-rimuovi-".example"_da_nome_del_file


LM_STUDIO_MODEL=producer/model
LM_STUDIO_HOST=http://127.0.0.1:1234


KAFKA_BROKER=localhost:9092
KAFKA_TOPIC=cluster-alerts


NEO4J_USER=neo4j
NEO4J_PASS=password
